*
!.gitignore
!README.md
!LICENSE

!server/
!server/*.go
!server/*.mod
!server/*.sum
!server/README.md
!server/Makefile
!server/dockerfile

!client/
!client/*.go
!client/*.mod
!client/*.sum
!client/README.md
!client/Makefile
